$paddingVer : 5vh;
$paddingHor : 15vw;

$BGDarker : #66bfbf;
$BGLighter: #b9f7f7;
$textPrimary : #008080;
$textSecondary : #66bfbf;
$textGray : #808080;
$White:#fff;
$Black:#000;

$gradientLighter: #35f39d;
$gradientDarker: #11aeeb;

$fontH1: 'Sacramento',cursive,san-serif;
$fontH2: 'Merriweather',san-serif;
$bodyFont: 'Montserrat Alternates',san-serif;

$line-height: 1.4rem;