/* Media Queries */
/* Media Queries */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat+Alternates:wght@300&family=Sacramento&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100vw;
  font-family: "Montserrat Alternates", san-serif;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > * {
  display: none;
}

body .loader {
  display: block;
}

body.loaded {
  display: block;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

body.loaded > * {
  display: block;
}

body.loaded .loader {
  display: none;
}

h1 {
  text-align: center;
  margin-top: 9.8rem auto 0;
  font-size: 5rem;
  font-family: "Sacramento", cursive, san-serif;
  color: #008080;
}

h2 {
  font-weight: normal;
  font-family: "Merriweather", san-serif;
  color: #66bfbf;
}

hr {
  margin: auto;
  border-width: 5px;
  border-color: #808080;
  width: 50%;
  border-style: dotted none none;
}

p {
  text-align: center;
  color: #808080;
  line-height: 1.5;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #008080;
  font-size: 1.2rem;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

a:hover {
  color: #11aeeb;
}

::-webkit-scrollbar {
  width: 0.9rem;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 2px 2px 5px grey;
          box-shadow: inset 2px 2px 5px grey;
  background: #bce7e7;
  border-radius: 2cm;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#11aeeb), to(#35f39d));
  background: linear-gradient(#11aeeb, #35f39d);
  border-radius: 2cm;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#35f39d), to(#11aeeb));
  background: linear-gradient(#35f39d, #11aeeb);
}

section {
  padding: 5vh 15vw;
  margin: 5vh;
}

section .section-heading {
  border-left: solid 2px #008080;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  overflow: hidden;
  padding: 10px 10px;
}

section .section-heading h2 {
  font-size: 3rem;
  font-weight: 800;
  font-family: "Sacramento", cursive, san-serif;
  color: #008080;
  border: none;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

section .section-heading h2[data-scroll='in'] {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

section .section-heading h2[data-scroll='out'] {
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

section .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

section .buttons button {
  background: none;
  border: none;
  outline: none;
}

section .buttons button a {
  color: #11aeeb;
  border-radius: 100%;
  padding: 10px;
  font-size: 1.5rem;
  background-color: rgba(16, 172, 234, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

section .buttons button a:hover {
  background-color: rgba(16, 172, 234, 0.4);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media only screen and (max-width: 650px) {
  section {
    padding: 5vw;
    margin: 5vh 0 0;
  }
  section:first-child {
    margin-top: 0;
  }
  section .section-heading h2 {
    font-size: 2.5rem;
  }
}

.logo {
  text-align: center;
}

.logo img {
  width: 3rem;
  height: 3rem;
  -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}

header {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(#11aeeb), to(#b9f7f7));
  background-image: linear-gradient(to right, #11aeeb, #b9f7f7);
  padding: 5vh 5vh 0;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem 5vw;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

header nav .blob {
  position: absolute;
  top: -1000px;
  right: -1000px;
  height: 600px;
  width: 600px;
  -webkit-filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.8));
          filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.8));
  -webkit-transform: rotate(67deg);
          transform: rotate(67deg);
  -webkit-transition: all ease 0.9s;
  transition: all ease 0.9s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

header nav .blob img {
  width: 100%;
}

header nav .blob.show {
  top: -250px;
  right: -150px;
}

header nav.showBg {
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  list-style: none;
}

header nav li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #008080;
  font-weight: 600;
  padding: 10px 0;
  /* Overline From Center */
}

header nav li a:hover {
  color: #008080;
}

header nav li a {
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}

header nav li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #008080;
  height: 2px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

header nav li a:hover:before, header nav li a .hvr-overline-from-center:focus:before, header nav li a .hvr-overline-from-center:active:before {
  left: 0;
  right: 0;
}

header .hero {
  margin: 5vh 5vh 0;
  padding: 0 15vw 0;
}

header .hero #title .animatedText span {
  opacity: 0;
  -webkit-transform: translateY(-400px);
          transform: translateY(-400px);
  position: relative;
  bottom: 400px;
  -webkit-transition: all cubic-bezier(0.47, 1.64, 0.41, 0.8) 1s;
  transition: all cubic-bezier(0.47, 1.64, 0.41, 0.8) 1s;
}

header .hero #title .animatedText.active span {
  opacity: 1;
  bottom: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all cubic-bezier(0.47, 1.64, 0.41, 0.8) 1s;
  transition: all cubic-bezier(0.47, 1.64, 0.41, 0.8) 1s;
}

header .hero .hero-img {
  width: 72%;
  margin: auto;
}

header .hero .hero-img img {
  width: 100%;
  position: relative;
  bottom: -34px;
}

header .hamburger {
  padding: 10px 10px;
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  overflow: visible;
  position: relative;
  z-index: 100;
}

header .hamburger:hover {
  opacity: 0.7;
}

header .hamburger:focus {
  outline: none;
}

header .hamburger .hamburger-box {
  width: 40px;
  height: 20px;
  display: inline-block;
  position: relative;
}

header .hamburger .hamburger-box .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

header .hamburger .hamburger-box .hamburger-inner, header .hamburger .hamburger-box .hamburger-inner::before, header .hamburger .hamburger-box .hamburger-inner::after {
  width: 100%;
  height: 3px;
  background: grey;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

header .hamburger .hamburger-box .hamburger-inner::before, header .hamburger .hamburger-box .hamburger-inner::after {
  content: "";
  display: block;
}

header .hamburger .hamburger-box .hamburger-inner::before {
  top: -10px;
  -webkit-transition: top 0.5s 0.5s ease, -webkit-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 0.5s 0.5s ease, -webkit-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 0.5s 0.5s ease, transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 0.5s 0.5s ease, transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

header .hamburger .hamburger-box .hamburger-inner::after {
  bottom: -10px;
  -webkit-transition: bottom 0.5s 0.5s ease, -webkit-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom 0.5s 0.5s ease, -webkit-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom 0.5s 0.5s ease, transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom 0.5s 0.5s ease, transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

header .hamburger.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
          transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
  -webkit-transition: top 0.5s ease, -webkit-transform 0.5s 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: top 0.5s ease, -webkit-transform 0.5s 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: top 0.5s ease, transform 0.5s 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: top 0.5s ease, transform 0.5s 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.5s 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

header .hamburger.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
          transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
  -webkit-transition: bottom 0.5s ease, -webkit-transform 0.5s 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: bottom 0.5s ease, -webkit-transform 0.5s 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: bottom 0.5s ease, transform 0.5s 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: bottom 0.5s ease, transform 0.5s 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.5s 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

header nav ul {
  padding: 30px;
  position: fixed;
  border-radius: 0 0 10px 10px;
  right: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  text-align: center;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  opacity: 0;
  top: 0;
}

header nav ul li a {
  color: #fff;
}

header .hamburger {
  display: inline-block;
}

header nav.active ul {
  right: 70px;
  opacity: 1;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

@media only screen and (max-width: 650px) {
  header {
    padding: 10vh 0 0;
    min-height: 70vh;
  }
  header #title h1 {
    font-size: 3rem;
  }
  header #title p {
    font-size: 1rem;
  }
  header .hero {
    padding: 10vh 0 0;
    margin: 0;
  }
  header .hero-img img {
    bottom: 0;
  }
}

main {
  position: relative;
  background-image: linear-gradient(45deg, #e3fffd, #ffedfb);
}

#profile {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  overflow: hidden;
}

#profile p {
  width: 70%;
  font-size: 1.1rem;
  letter-spacing: 0.8px;
  -webkit-transition: all ease 2s;
  transition: all ease 2s;
}

#profile p[data-scroll='out'] {
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

#profile p[data-scroll='in'] {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#profile #profilePic {
  border-radius: 100%;
  background-color: #b9f7f7;
  height: 12.5rem;
  width: 12.5rem;
}

.skills .skill-table {
  padding: 5vw;
}

.skills .skill-table ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  list-style: none;
}

.skills .skill-table ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  font-size: 1.3rem;
}

.skills .skill-table ul li img {
  width: 70px;
}

@media only screen and (max-width: 650px) {
  .skills .skill-table ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.works {
  padding: 5vh 20vw;
}

.works .card {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 15% auto;
  position: relative;
}

.works .card * {
  position: relative;
  z-index: 99;
}

.works .card .card-img {
  position: relative;
  width: 100%;
}

.works .card .card-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
  transition: all ease 1s;
}

.works .card .card-img img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.works .card .card-img::before {
  content: '';
  position: absolute;
  top: -10%;
  left: -10%;
  bottom: -10%;
  right: 10%;
  background-image: linear-gradient(45deg, #11aeeb, #b9f7f7);
  border-radius: 10px;
}

@media only screen and (max-width: 650px) {
  .works .card .card-img::before {
    left: 10%;
    right: 10%;
  }
}

.works .card .card-img::after {
  content: '';
  font-family: 'Merriweather';
  position: absolute;
  top: 10%;
  right: -12%;
  font-size: 12rem;
  color: #808080;
  opacity: 0.8;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.works .card .card-img[data-scroll='out'] img {
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.works .card .card-img[data-scroll='out']::after {
  opacity: 0;
}

.works .card .card-img[data-scroll='in'] img {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.works .card .card-img[data-scroll='in']::after {
  opacity: 1;
}

.works .card:nth-child(2) .card-img::after {
  content: "01";
}

.works .card:nth-child(3) .card-img::after {
  content: "02";
}

.works .card:nth-child(4) .card-img::after {
  content: "03";
}

.works .card:nth-child(5) .card-img::after {
  content: "04";
}

.works .card:nth-child(6) .card-img::after {
  content: "05";
}

.works .card .card-text {
  padding: 30px;
}

.works .card .card-text > * {
  margin-top: 20px;
}

.works .card .card-text h2 {
  margin-top: 10%;
  font-size: 2rem;
  text-align: left;
  color: #008080;
  font-family: 'Merriweather',sans-serif;
}

.works .card .card-text p {
  position: relative;
  font-size: 1.2rem;
  width: 90%;
  text-align: left;
  color: #808080;
  line-height: 1.4rem;
}

.works .card .card-text .overview {
  position: relative;
  height: 4.2rem;
  overflow: hidden;
  -webkit-transition: height ease 1s;
  transition: height ease 1s;
}

.works .card .card-text .overview::after {
  content: '';
  position: absolute;
  z-index: 100;
  inset: 75% 0 0 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#fff));
  background-image: linear-gradient(to bottom, transparent, #fff);
}

.works .card .card-text .overview.expand::after {
  display: none;
}

.works .card .card-text > button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.2rem;
  margin-top: 0;
  color: #008080;
}

.works .card .card-text > button:nth-of-type(2) {
  display: none;
}

@media only screen and (max-width: 650px) {
  .works {
    padding: 5vw;
  }
  .works .card {
    margin: 30% 0;
  }
  .works .card .card-text * {
    text-align: center;
  }
  .works .card .card-img::after {
    text-align: center;
    font-size: 8rem;
    right: 50%;
    top: -60%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .works .card .card-text h2 {
    font-size: 1.5rem;
  }
  .works .card .card-text p {
    margin: 20px 0;
    font-size: 1rem;
    width: 100%;
  }
  .works .card .buttons {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.swiper {
  margin: 5vh auto;
}

.swiper .swiper-slide {
  width: 100%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.swiper .swiper-slide .overview {
  position: absolute;
  left: 10%;
  bottom: -50%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  z-index: 100;
}

.swiper .swiper-slide h2 {
  color: #008080;
  font-size: 3.5rem;
  font-weight: bold;
  font-family: "Sacramento", cursive, san-serif;
  margin-bottom: 10px;
}

.swiper .swiper-slide img {
  -webkit-filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
  width: 100%;
}

.swiper .swiper-slide::after {
  content: '';
  position: absolute;
  inset: 100% 0 0;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#fff));
  background-image: linear-gradient(to bottom, transparent, #fff);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.swiper .swiper-slide:hover::after {
  top: 0;
}

.swiper .swiper-slide:hover .overview {
  bottom: 10%;
}

@media only screen and (max-width: 650px) {
  .swiper {
    padding: 0 10vw;
  }
  .swiper .swiper-slide h2 {
    font-size: unset;
  }
  .swiper .swiper-slide .buttons button a {
    font-size: unset;
    padding: 5px;
  }
  .swiper .swiper-button-prev::after, .swiper .swiper-button-next::after {
    font-size: unset;
  }
}

.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-wrapper {
  min-height: 50vh;
  margin: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #e3fffd), color-stop(50%, #b9f7f7));
  background-image: linear-gradient(to bottom, #e3fffd 50%, #b9f7f7 50%);
}

.contact-wrapper .contact {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 5vh;
  border-radius: 10px;
}

.contact-wrapper .contact * {
  margin: 15px auto;
  text-align: center;
}

.contact-wrapper .contact h3 {
  color: #008080;
  font-size: 1.5rem;
}

.contact-wrapper .contact p {
  font-size: 1rem;
  width: 100%;
  padding: 0 10%;
}

.contact-wrapper .contact .cta a {
  margin: 10px;
  text-decoration: none;
  padding: 15px;
  border-radius: 10px;
  background: linear-gradient(45deg, #11aeeb, #35f39d);
  color: #fff;
  font-weight: 800;
}

.contact-wrapper .contact .cta a:hover {
  background: linear-gradient(45deg, #35f39d, #11aeeb);
}

@media only screen and (max-width: 650px) {
  .contact-wrapper .contact .cta {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-wrapper .contact .cta a {
    padding: 5px 20px;
  }
  .contact-wrapper .contact p {
    padding: 0;
  }
}

footer {
  min-height: 25vh;
  position: relative;
  background-color: #b9f7f7;
}

footer .footer-links {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2% auto;
}

footer a {
  text-decoration: none;
  color: #008080;
  font-weight: 800;
  font-size: 1.5rem;
  padding-bottom: 10px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  /* Overline From Center */
}

footer a {
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}

footer a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #008080;
  height: 2px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

footer a:hover:before, footer a .hvr-overline-from-center:focus:before, footer a .hvr-overline-from-center:active:before {
  left: 0;
  right: 0;
}

footer a:hover {
  color: #11aeeb;
}

footer p {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1rem;
}

@media only screen and (max-width: 650px) {
  footer a {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=style.css.map */