@import 'variables';
@import 'mixins';
@import 'mediaQ';
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat+Alternates:wght@300&family=Sacramento&display=swap");

*,*::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all ease 0.5s;
}

html{
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100vw;
    font-family: $bodyFont;

}

body{
    // background-color: $BGLighter;
    // background-image: linear-gradient(to right, $gradientLighter, $gradientDarker);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    >*{
        display: none;
    }
    .loader{
        display: block;
    }
    &.loaded{
        display: block;
        justify-content: unset;
        align-items: unset;
        >*{
            display: block;
        }
        .loader{
            display: none;
        }
    }
}

h1{
    text-align: center;
    margin-top: 9.8rem auto 0;
    font-size: 5rem;
    font-family: $fontH1;
    color: $textPrimary;
}
h2{
    font-weight: normal ;
    font-family: $fontH2;
    color: $textSecondary;
}

hr{
    margin:auto;
    border-width: 5px;
    border-color: $textGray;
    width: 50%;
    border-style:dotted none none;
}
p{
    text-align: center;
    color: $textGray;
    line-height: 1.5;
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    color: $textPrimary;
    font-size: 1.2rem;
    transition: all ease 0.3s;
    &:hover{
        color: $gradientDarker;
    }
}

::-webkit-scrollbar {
    width: 0.9rem;
  }
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 2px 2px 5px grey;
    background: rgb(188, 231, 231); 
    border-radius: 2cm;
    
    
}

/* Handle */
::-webkit-scrollbar-thumb {
background: linear-gradient($gradientDarker, $gradientLighter); 
border-radius:2cm;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: linear-gradient($gradientLighter, $gradientDarker); 
}

section{
    padding: $paddingVer $paddingHor;
    margin: $paddingVer;

    .section-heading{
        border-left: solid 2px $textPrimary;
        width: fit-content;
        margin:auto;
        overflow: hidden;
        padding: 10px 10px;
        h2{
            font-size: 3rem;
            font-weight: 800;
            font-family: $fontH1;
            color: $textPrimary;
            border: none;  
            transition: all ease 1s;

            &[data-scroll='in']{
                opacity: 1;
                transform: translateX(0);
            }
            &[data-scroll='out']{
                opacity: 0;
                transform: translateX(-100%);
            }
        }
    }

    .buttons{
        display: flex;
        gap: 10px;
        button{
            background: none;
            border: none;
            outline: none;
            a{  
                color: $gradientDarker;
                border-radius: 100%;
                padding: 10px;
                font-size: 1.5rem;
                background-color: hsla(197, 87%, 49%,0.2);
                backdrop-filter: blur(10px);
                cursor: pointer;
                transition: all ease 0.5s;
                &:hover{
                    background-color: hsla(197, 87%, 49%,0.4);
                    transform: scale(1.1);
                }
            }
        }
    }

    @include mediaQ(mobile){
        padding: 5vw;
        margin: 5vh 0 0;
        &:first-child{
            margin-top: 0;
        }
        .section-heading h2{
            font-size: 2.5rem;
        }
    }

}

.logo{
    text-align: center;
    img{
        width: 3rem;
        height: 3rem;
        filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.3));
    }
}



header{
    min-height: 100vh;
    // background-image: linear-gradient(to right, $gradientLighter, $gradientDarker);
    background-image: linear-gradient(to right, $gradientDarker, $BGLighter);
    padding: $paddingVer $paddingVer 0;
    nav{
        .blob{
            position: absolute;
            top: -1000px;
            right: -1000px;
            height: 600px;
            width: 600px;
            filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.8));
            transform: rotate(67deg);
            transition: all ease 0.9s;
            transition-delay: 0.3s;
            img{
                width: 100%;
            }
        
            &.show{
                top: -250px;
                right: -150px;
            }
        }
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0.3rem 5vw;

        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        transition: all ease 0.5s;

        &.showBg{
            background-color: #fff;
            box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
        }
        
        ul{
            
            display: flex;
            gap: 1rem;
            list-style: none;
        }
        li a{
            font-size: 1.2rem;
            text-decoration: none;
            color: $textPrimary;
            font-weight: 600;
            padding: 10px 0;
            &:hover{
                color: $textPrimary;
            }
            @include overline-from-center();

        }

    }

    
    .hero{
        margin: $paddingVer $paddingVer 0 ;
        padding: 0 $paddingHor 0;

        #title{

            .animatedText span{
                opacity: 0;
                transform: translateY(-400px);
                position: relative;
                bottom: 400px;
                transition: all cubic-bezier(.47,1.64,.41,.8) 1s;
            }
            .animatedText.active span{
                opacity: 1;
                bottom: 0;
                transform:translateY(0);
                transition: all cubic-bezier(.47,1.64,.41,.8) 1s;

            }
        }
        .hero-img{
            width: 72%;
            margin: auto;
            img{
                width: 100%;
                position: relative;
                bottom: -34px;
            }
        }

    }

    .hamburger {
        padding: 10px 10px;
        display: none;
        cursor: pointer;
        background-color: transparent;
        border: 0;
        overflow: visible;
        position: relative;
        z-index: 100;
        &:hover {
            opacity: 0.7;
        }
        &:focus{
            outline: none;
        }
        
        .hamburger-box {
            width: 40px;
            height: 20px;
            display: inline-block;
            position: relative;
            
            .hamburger-inner {
            display: block;
            top: 50%;
            margin-top: -2px;
            }
            .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
                width: 100%;
                height: 3px;
                // background-image: linear-gradient(90deg, $gradientDarker, $gradientLighter);
                background: grey;
                border-radius: 4px;
                position: absolute;
                transition-property: transform;
                transition-duration: 0.15s;
                transition-timing-function: ease;
            }
            .hamburger-inner::before, .hamburger-inner::after {
                content: "";
                display: block;
            }
            .hamburger-inner::before {
                top: -10px;
                transition: top 0.5s 0.5s ease, transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
            }
            .hamburger-inner::after {
                bottom: -10px; 
                transition: bottom 0.5s 0.5s ease, transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
            }
        }
        &.is-active .hamburger-inner::before {
            top: 0;
            transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
            transition: top 0.5s ease, transform 0.5s 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
        }
            
        &.is-active .hamburger-inner::after {
            bottom: 0;
            transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
            transition: bottom 0.5s ease, transform 0.5s 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
        }
    }

    nav ul{
        padding: 30px;
        position: fixed;
        border-radius: 0 0 10px 10px;
        right: 50px;
        flex-direction: column;
        gap: 15px;
        text-align: center;
        transition: all ease 1s;
        opacity: 0;
        top: 0;
        

        li a{
            color: $White;
        }
    }
    
    .hamburger{
        display: inline-block;
    }

    nav.active{
        ul{
            right: 70px;
            opacity: 1;
            transition-delay:0.8s ;
        }
    }
    @include mediaQ(mobile){
        padding: 10vh 0 0;
        min-height: 70vh;

        #title{
            h1{
                font-size: 3rem;
            }
            p{
                font-size: 1rem;
            }
        }
        .hero{
            padding: 10vh 0 0;
            margin: 0;
            // position: absolute;
            // bottom: 0;
            // display: flex;
            // flex-direction: column;
            // justify-content: space-between;

        }
        .hero-img{
            img{
                bottom: 0;
            }
        }
    }


}

main{
    // background-color: $White;
    position: relative;
    background-image: linear-gradient(45deg, #e3fffd, #ffedfb);    
}
#profile{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    overflow: hidden;
    
    p{
    width: 70%;
    font-size: 1.1rem;
    letter-spacing: 0.8px;
    transition: all ease 2s;
    }
    
    
    p[data-scroll='out']{
        opacity: 0;
        transform: translateY(100%);
    }
    
    p[data-scroll='in']{
        opacity: 1;
        transform: translateY(0);
    }
    
    
    
    #profilePic{
        
        border-radius: 100%;
        background-color: $BGLighter;
        height: 12.5rem;
        width: 12.5rem;
    }
}

.skills{

    .skill-table{
        padding: 5vw;
       
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            list-style: none;
            li{
                display: flex;
                gap: 10px;
                align-items: center;
                margin:20px;
                font-size: 1.3rem;
                img{
                    width: 70px;
                }
            }
            
        }
    }

    @include mediaQ(mobile){
        .skill-table ul{
            grid-template-columns: 1fr;
        }
    }
}

.works{
    padding: $paddingVer 20vw;
    
    .card{
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
        margin: 15% auto;
        position: relative;

        *{
            position: relative;
            z-index: 99;
        }
        
        .card-img{
            position: relative;
            width: 100%;
            img{
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
                transition: all ease 1s;
                box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
                transition: all ease 1s;

                &:hover{
                    transform: scale(1.5);
                }
            }
            @include bgOverlay($gradientDarker,$BGLighter);
            &::after{
                content: '';
                font-family: 'Merriweather';
                position: absolute;
                top: 10%;
                right: -12%;
                font-size: 12rem;
                color: $textGray;
                opacity: 0.8;
                transition: all ease 1s;
            }
            
        } 
        
        .card-img[data-scroll='out'] {
            img{
                opacity: 0;
                transform: translateX(-100%);
            }
            &::after{
                opacity: 0;
            }
        }
        
        .card-img[data-scroll='in']{
            img{
                opacity: 1;
                transform: translateX(0);
            }
            &::after{
                opacity: 1;
            }
        }
        
        @for $i from 1 through 5{
            &:nth-child(#{$i+1}){
               .card-img::after{ content : '0#{$i}'}
            }
        }
        .card-text{
            padding: 30px;
            >*{
                margin-top: 20px;
            }
            h2{
                margin-top: 10%;
                font-size: 2rem;
                text-align: left;
                color: $textPrimary;
                font-family: 'Merriweather',sans-serif;
            }
            p{
                position: relative;
                font-size: 1.2rem;
                width: 90%;
                text-align: left;
                color: $textGray;
                line-height: $line-height;
                
            }
            .overview{
                position: relative;
                height: #{3*$line-height};
                overflow: hidden;
                transition: height ease 1s;

                &::after{
                    content: '';
                    position: absolute;
                    z-index: 100;
                    inset: 75% 0 0 0;
                    background-image: linear-gradient(to bottom, transparent, #fff);
                }

                &.expand{
                    &::after{
                        display: none;
                    }
                }
            }
            >button{
                border: none;
                outline: none;
                cursor: pointer;
                background-color: transparent;
                font-size: 1.2rem;
                margin-top: 0;
                color: $textPrimary;

            }
            >button:nth-of-type(2){display: none;}
            
        }
    }

    @include mediaQ(mobile){
        padding:5vw;

        .card{
            margin: 30% 0;
            .card-text *{
                text-align: center;

            }
            .card-img::after{
                text-align: center;
                font-size: 8rem;
                right: 50%;
                top: -60%;
                transform: translateX(50%);
            }
            .card-text{
                h2{
                    font-size: 1.5rem;
                }
                p{
                    margin: 20px 0;
                    font-size: 1rem;
                    width: 100%;
                }
            }

            .buttons{
                justify-content: flex-end;
            }
        }

    }

}

.swiper{

    margin: $paddingVer auto;
    .swiper-slide{
        width: 100%;
        border-radius: 10px ;
        position: relative;
        overflow: hidden;
        .overview{
            position: absolute;
            left:10%;
            bottom: -50%;
            transition: all ease 0.5s;
            z-index: 100;
        }

        h2{
            color:$textPrimary;
            font-size: 3.5rem;
            font-weight: bold;
            font-family: $fontH1;
            margin-bottom: 10px;
        }

        img{
            filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.4)) ;
            object-fit: contain;
            border-radius: 10px;
            width: 100%;
        }

        &::after{
            content: '';
            position: absolute;
            inset: 100% 0 0;
            border-radius: 10px;
            background-image: linear-gradient(to bottom, transparent, rgba(255,255,255,0.4));
            transition: all ease 0.5s;
        }

        &:hover{

            &::after{
                top: 0;
            }

            .overview{
                bottom: 10%;
            }
        }

    }
    
    
    @include mediaQ(mobile){
        padding: 0 10vw;
        .swiper-slide{
            h2{
                font-size: unset;
            }
            .buttons button a{
                font-size: unset;
                padding: 5px;
            }
            
        }
        .swiper-button-prev::after, .swiper-button-next::after{
            font-size: unset;
        }
    }

    
}

.more{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;   
}

.contact-wrapper{
    min-height: 50vh;
    margin: 0;
    background-image: linear-gradient(to bottom, #e3fffd 50%, $BGLighter 50%);

    .contact{
        background-color: $White;
        box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
        padding: 5vh;
        border-radius: 10px;

        *{
            margin: 15px auto;
            text-align: center;
        }
        h3{
            color: $textPrimary;
            font-size: 1.5rem;
        }
        p{
            font-size: 1rem;
            width: 100%;
            padding: 0 10%;
        }

        .cta{
            a{
                margin: 10px;
                text-decoration: none;
                padding: 15px;
                border-radius: 10px;
                background: linear-gradient(45deg, $gradientDarker, $gradientLighter);
                color: $White;
                font-weight: 800;

                &:hover{
                    background: linear-gradient(45deg, $gradientLighter, $gradientDarker);
                }
            }
        }

        @include mediaQ(mobile){
            .cta{
                padding: 0;
                display: flex;
                flex-direction: column;

                a{
                  padding: 5px 20px;  
                }
            }

            p{
                padding: 0;
            }
        }
    }

}   

footer{
    min-height: 25vh;
    position: relative;
    background-color: $BGLighter;

    .footer-links{
        text-align: center;
        display: flex;
        gap: 5vw;
        justify-content: center;
        margin: 2% auto;
    }
    a{
        text-decoration: none;
        color: $textPrimary;
        font-weight: 800;
        font-size: 1.5rem;
        padding-bottom: 10px;
        transition: all ease 0.5s;
        @include overline-from-center();

        &:hover{
            color: $gradientDarker;
        }
    }
    p{
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1rem;
        
    }

    @include mediaQ(mobile){
        a{
            font-size: 1.2rem;
        }
    }
}
